@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    font-family: Poppins;
}

.container {
    display: flex;
}

.left-sidebar {
    width: 20%;
    background-color: #171616;
    position: fixed;
    height: 100%;
    overflow-y: hidden;
}

    
.left-sidebar img {
    width:16VW;
    border-radius: 15px;
    margin-left: auto;
     margin-right: auto;
    height: 30VH;
    display: block;
    margin-bottom: 20px;
  
}

.left-sidebar .logo {
    width: 16vw; 
    height: 7vh;
    margin-left: auto;
     margin-right: auto;
    display: block;
}

.left-sidebar {
    width: 20%;
    background-color: #171616;
    padding-top: 7vh;
    position: fixed;
    height: 100%;
    overflow-y: hidden;
    text-align: center;
}

.dropdown-container {
    margin-bottom: 20px;
}

#regexDropdown {
    width: 50%; 
    padding: 10px;
    border-radius: 10px;
    font-family: Poppins;
    font-size:1vw;
}


.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.buttons button {
    padding: 10px 20px;
    margin: 5px 0; 
    background-color: #ffffff;
    color: #171616;
    border: none;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    font-family: Poppins;
    font-size:1vw;

}
.buttons button:hover {
    background-color: #322f2f;
    color: #fff;
}


p {
    color: #fff;
    background-color: #322f2f; /* alam mo ba kung paano lagyan buong row*/  
}

