@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 40%;
    background-color: black;
    padding: 20px;
    height: 100vh;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.sidebar-header-logo, .sidebar-header-title {
    width: 45%;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sidebar-menu button, .sidebar-menu input[type="text"] {
    width: 300px;
    padding: 10px; /* Adjust as needed */
    margin: 5px 0; /* Adjust as needed */
    border-radius: 5px; /* Rounded borders */
}

.sidebar-menu #input, .sidebar-menu #simulate_input {
    display: flex;
    justify-content: space-between;
}