@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Sidebar menu design */
.sidebar {
    width: 20%;
    background-color: #171616;
    padding-top: 7vh;
    position: fixed;
    height: 100%;
    overflow-y: hidden;
    text-align: center;
}

.sidebar-header-title {
    width:16VW;
    border-radius: 15px;
    margin-left: auto;
     margin-right: auto;
    height: 30VH;
    display: block;
    margin-bottom: 20px;
}

.sidebar-header-logo {
    width: 16vw; 
    height: 7vh;
    margin-left: auto;
     margin-right: auto;
    display: block;
}

.sidebar-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sidebar-menu button, .sidebar-menu input[type="text"] {
    padding: 10px 20px;
    margin: 5px 0; 
    background-color: #ffffff;
    color: #171616;
    border: none;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    font-family: Poppins;
    font-size:1vw;
}
.sidebar-menu button:hover {
    background-color: #322f2f;
    color: #fff;
}

/* TODO here you can change the design of current alphabet and regex */
.main-content {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
}
